In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf

In [2]:
print(tf.__version__)

2.5.0

In [28]:
epoch = 10
learning_rate = 0.001
weight_0 = 0.000475
weight_1 = 0.45641

print("epoch : {}, \nlearning_rate : {} \n\
weight_0 = {} \n weight_2 = {}".format(epoch,learning_rate,weight_0,weight_1))

epoch : 10,
learning_rate : 0.001
weight_0 = 0.000475
 weight_2 = 0.45641

In [7]:
name = "mery"
phone = '010 4742 2442'
print(len(name))
print(len(phone))

4
13

In [9]:
string = 'abcabcabc'
print(string.find('b'))
print(string.find('c'))

1
2

In [10]:
User_A = 'MY NAME IS AI_BOT'

In [12]:
count_a = User_A.count('A')
count_e = User_A.count('E')
count_i = User_A.count('I')
count_o = User_A.count('O')
count_u = User_A.count('U')

print(count_a, count_e, count_i, count_o, count_u)

2 1 2 1 0

In [13]:
User_A = 'AlphaGo is an Artificial Intelligence.'
print(User_A.find('Intelligence'))

25

In [14]:
User_A = 'AlphaGo is an Artificial Intelligence.'
print(User_A.find('GJ'))

-1

In [15]:
User_B = 'HI~, HI~, HI~'
result = User_B.find("HI")
print(result)

0

In [19]:
User_B = 'HI~, HI~, HI~'
find_hi = User_B.find("HI")
print("find_hi : ", find_hi)
find_hi_2 = User_B.find('HI',1)
print(find_hi_2)

find_hi :  0
5

In [21]:
User_C = 'Give me some drugs'
User_D = 'see yoy tomorrow'
C = User_C.find('drugs') == -1
D = User_D.find('drugs') == -1
print("C : ",C)
print("D : ",D)

C :  False
D :  True

In [22]:
sep_key = ','
join_seq = sep_key.join('abcedf')
print(join_seq)

a,b,c,e,d,f

In [24]:
data = ['ai', 'deep_learning', 'python', 'R']
sep_key = '★'
skills = sep_key.join(data)
print("MY SKILLS : ", skills)

MY SKILLS :  ai★deep_learning★python★R

In [25]:
###upper함수

data = 'you can do it'
print(data.upper())

YOU CAN DO IT

In [29]:
###replace()

data = 'you can do it'

replaced = data.replace('you', 'i')
print(replaced)

i can do it

In [33]:
data = 'you can do it'
data_1 = 'I cand do it'

replaced = data.replace('data', 'data_1')
print(replaced)

you can do it

In [35]:
epoch = input()
loss = input()

model = 'Model_1'
result = 'epoch : ' + epoch + '\nloss : ' + loss
print(result)

print("-"*10 + model + "Traning End" + "-"*10)

 10
 0.157

epoch : 10
loss : 0.157
----------Model_1Traning End----------

In [37]:
Chat_A = "시팔"
Chat_B = "병신"
data_1 = Chat_A.replace('시팔', '사랑해')
data_2 = Chat_B.replace('병신', '좋아해')
print(data_1)
print(data_2)
print(Chat_A)
print(Chat_B)

사랑해
좋아해
시팔
병신

In [40]:
###split

User_A = 'hello world! this is python'
Data_1 = User_A.split(' ')
print(Data_1)

['hello', 'world!', 'this', 'is', 'python']

In [41]:
###Strip

DATA = '           BTS - KOREAN K_POP STAR          '
print(DATA)
DATA = DATA.strip()
print(DATA)

           BTS - KOREAN K_POP STAR
BTS - KOREAN K_POP STAR

In [43]:
###isdigit()
###문자열인데 숫자 형식의 문자열인지 확인하는 것

mse = '3'
###문자열 3이 들어가 있음

result = 'mse' + mse

print("mse = '3' : ", mse.isdigit())
print("result = 'mse'+ mse")

mse = '3' :  True
result = 'mse'+ mse

In [44]:
mse = '3'
result = 'mse' + mse

print(mse.isdigit())
print(result.isdigit())

True
False

In [50]:
print('Epoch1')
print('Train Model Acc = {0}', 'Train Model Loss = {1}.'.format(89.123%,0.014)

SyntaxError: invalid syntax (<ipython-input-50-ad230e51d5f1>, line 2)

In [51]:
###정답

Epoch = 1
Train_acc = 89.12345
Train_loss = 0.012345
Test_acc = 91.123
Test_loss = 0.00012

In [ ]:
print("EPOCH {} \nTrain_Model_Acc = {:0.3f}%, \
Train_Model_Loss = {:0.3f} \n Test_Model_Acc ")
###print("Epoch {}\nTrain Model Acc = {:0.3f}%, Train Model Loss = {:0.3f} \n Test Model Acc = {:0.3f}%, Test Model Loss = {:0.3f}".\
format(epoch, train_acc, train_loss, test_acc, test_loss))

In [54]:
###variable = [value_1, value_2, value_3,...,value_n]

data = []
row_1 = [0.1,0.5,1.54,3,7]
row_2 = [0.4,0.7,2,5,6]
rows = []

###어펜드는 데이터를 담아줄 빈그릇이 하나 필요함

rows.append(row_1)
print("row_1 : ", rows)
rows.append(row_2)
print("row_1, row_2 :", rows)

###리스트에서 행렬 방식으로 바뀌게 됨을 이해하자

row_1 :  [[0.1, 0.5, 1.54, 3, 7]]
row_1, row_2 : [[0.1, 0.5, 1.54, 3, 7], [0.4, 0.7, 2, 5, 6]]

In [55]:
print(type(data))
print(type(rows))
print(type(row_1))
print(type(row_2))

<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>

In [56]:
import numpy as np
rows = np.array(rows)
print(type(rows))
print((rows.shape))

###2개의 행과 5개의 열, 데이터가 2개 있고 변수가 5개 있다는 것

<class 'numpy.ndarray'>
(2, 5)

In [85]:
row_1 = "HI, I'm AI BOT."
row_2 = 'What are you doing now?'
row_3 = "I'm studing ai for math"
row_4 = "oh ~ ! What is ai ?"

row_1 = row_1.lower()
###print(row_1)
row_2 = row_2.lower()
row_3 = row_3.lower()
row_4 = row_4.lower()

row_1 = row_1.split(' ')
###print(row_1)
row_2 = row_2.split(' ')
row_3 = row_3.split(' ')
row_4 = row_4.split(' ')

dataset = row_1 + row_2 + row_3 + row_4
print("dataset : ", dataset)


dataset.sort()
print("dataset : ", dataset)


###dataset.remove('?')
###dataset.remove('!')
###dataset.remove('~')

dataset :  ['hi,', "i'm", 'ai', 'bot.', 'what', 'are', 'you', 'doing', 'now?', "i'm", 'studing', 'ai', 'for', 'math', 'oh', '~', '!', 'what', 'is', 'ai', '?']
dataset :  ['!', '?', 'ai', 'ai', 'ai', 'are', 'bot.', 'doing', 'for', 'hi,', "i'm", "i'm", 'is', 'math', 'now?', 'oh', 'studing', 'what', 'what', 'you', '~']

In [87]:

dataset_value = list(set(dataset))
print("dataset_value : ", dataset_value)

dataset_value :  ["i'm", 'is', 'oh', 'math', 'doing', 'you', '!', 'what', '~', '?', 'ai', 'for', 'studing', 'hi,', 'are', 'bot.', 'now?']

In [89]:
print("dataset_value_len : ", len(dataset_value))

dataset_value_len :  17

In [90]:
dataset_value.sort()
print("dataset_value : ", dataset_value)

dataset_value :  ['!', '?', 'ai', 'are', 'bot.', 'doing', 'for', 'hi,', "i'm", 'is', 'math', 'now?', 'oh', 'studing', 'what', 'you', '~']

In [103]:
print(dataset.count(dataset_value[0]))
print(dataset.count(dataset_value[1]))
print(dataset.count(dataset_value[2]))
print(dataset.count(dataset_value[3]))
print(dataset.count(dataset_value[4]))

###dataset 'ai' 3개 중복으로 보유가 가능한 리스트
###dataset_value 는 set으로 집합시켜서 중복되는 것을 제거하여 len해보면 총 17개의 중봅없는 문자열들이 나옴

1
1
3
1
1

In [104]:
count_value = []
for i in range(len(dataset_value)):
    dataset_count = dataset.count(dataset_value[i])
    count_value.append(dataset_count)
print("count_value : ", count_value)

count_value :  [1, 1, 3, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 2, 1, 1]

In [100]:
import pandas as pd
dataset_table = pd.DataFrame(data = count_value, index = dataset_value,
                             columns=['COUNT'])
dataset_table

         COUNT
!            1
?            1
ai           3
are          1
bot.         1
doing        1
for          1
hi,          1
i'm          2
is           1
math         1
now?         1
oh           1
studing      1
what         2
you          1
~            1

In [102]:
import pandas as pd
dataset_table = pd.DataFrame(data = count_value, index = dataset_value,
                             columns=['COUNT'])
dataset_table.transpose()

,!,?,ai,are,bot.,doing,for,"hi,",i'm,is,math,now?,oh,studing,what,you,~
COUNT,1,1,3,1,1,1,1,1,2,1,1,1,1,1,2,1,1