In [2]:
#함수
# ! 연결 순서
#Positional Arguments
#argument = 독립변수 s 독립변수들

def checkout(name, price):
  print(f'{name}님, 총 {price}원 주문 완료 되었습니다.')

checkout('안성경', 12000)

안성경님, 총 12000원 주문 완료 되었습니다.

In [3]:
#함수
#keyword Arguments

def checkout(name, price):
  print(f'{name}님, 총 {price}원 주문 완료 되었습니다.')

checkout(name = '안성경', price = 12000)

안성경님, 총 12000원 주문 완료 되었습니다.

In [9]:
#함수
#Positional Arguments
#위치기반 매개변수 6개 순차적 모두 출력

def checkout(name, price, additional_data, temporary_data, options, date):
  print(name)
  print(price)
  print(additional_data)
  print(temporary_data)
  print(options)
  print(date)

checkout('안성경', 12000, '추가데이터', 10.0, ['아토1', '아토2', '아토3'], '1995,01,12')

안성경
12000
추가데이터
10.0
['아토1', '아토2', '아토3']
1995,01,12

In [10]:
#함수
#keyword Arguments
#키워드기반 매개변수 6개 순차적 모두 출력

def checkout(name, price, additional_data, temporary_data, options, date):
  print(name)
  print(price)
  print(additional_data)
  print(temporary_data)
  print(options)
  print(date)

checkout(name = '안성경',
         price = 12000,
         additional_data = '추가데이터',
         temporary_data = 10.0,
         options = ['아토1', '아토2', '아토3'],
         date ='1995,01,12')

안성경
12000
추가데이터
10.0
['아토1', '아토2', '아토3']
1995,01,12

In [15]:
#optional_data
#에러가 날것임

def checkout(name, price, optional_data):
  print(name)
  print(price)
  print(optional_data)

checkout('안성경', 12000)

#checkout() missing 1 required positional argument: 'optional_data'

TypeError: ignored

In [16]:
#optional_data
#에러가 날것임

def checkout(name, price):
  print(name)
  print(price)
  print(optional_data)

checkout('안성경', 12000, 'optional_data')

#checkout() takes 2 positional arguments but 3 were given

TypeError: ignored

In [17]:
#optional_data
#에러안남

def checkout(name, price, optional_data):
  print(name)
  print(price)
  print(optional_data)

checkout('안성경', 12000, 'optional_data')

안성경
12000
optional_data

In [24]:
#*args
#*args = positional arguments + optional data
#매개변수를 넣지 않은 경우

def checkout(name, price, *args):
  print(f'{name}님, 총 {price}원 주문 완료 되었습니다.')
  print(args)
  print(type(args))

checkout('안성경', 12000)


#<class 'tuple'>

안성경님, 총 12000원 주문 완료 되었습니다.
()
<class 'tuple'>

In [25]:
#*args
#*args = positional arguments +optional data
#매개변수를 넣은 경우

def checkout(name, price, *args):
  print(f'{name}님, 총 {price}원 주문 완료 되었습니다.')
  print(args)
  print(type(args))

checkout('안성경', 12000, 'optional_data')


#<class 'tuple'>

안성경님, 총 12000원 주문 완료 되었습니다.
('optional_data',)
<class 'tuple'>

In [26]:
#*args
#*args = positional arguments + optional data
#위치기반 매개변수 3개를 받아 순차적으로 모두 출력하는 함수
#위치 기반 선택적 매개변수 임의의 개수를 받아 순차적으로 모두 출력
#몇개의 선택적 매개변수를 받았는지 출력

def checkout(name, price, additional_data, *args):
  print(name)
  print(price)
  print(additional_data)
  print('='*30)
  for arg in args:
    print(arg)
  print(f'입력된 선택적 매개변수의 개수 : {len(args)}')

checkout('안성경',
         12000,
         '추가데이터',
         10.0,
         ['아토1', '아토2', '아토3'],
         '1995,01,12')


#입력된 선택적 매개변수의 개수 : 3

안성경
12000
추가데이터
==============================
10.0
['아토1', '아토2', '아토3']
1995,01,12
입력된 선택적 매개변수의 개수 : 3

In [29]:
#**kwargs
#**kwargs = keyward arguments + optional data
#매개변수를 넣지 않은 경우

def checkout(name, price, **kwargs):
  print(f'{name}님, 총 {price}원 주문 완료 되었습니다.')
  print(kwargs)
  print(type(kwargs))

checkout(name='안성경', price=12000)

#<class 'dict'>

안성경님, 총 12000원 주문 완료 되었습니다.
{}
<class 'dict'>

In [30]:
#**kwargs
#**kwargs = keyward arguments + optional data
#매개변수를 넣은 경우

def checkout(name, price, **kwargs):
  print(f'{name}님, 총 {price}원 주문 완료 되었습니다.')
  print(kwargs)
  print(type(kwargs))

checkout(name = '안성경', price = 12000, optional_data = 'optional_data')


#<class 'dict'>

안성경님, 총 12000원 주문 완료 되었습니다.
{'optional_data': 'optional_data'}
<class 'dict'>

In [43]:
#**kwargs
#**kwargs = keyword arguments + optional data
#키워드 기반 매개변수 3개를 받아 순차적으로 모두 출력하는 함수
#키워드 기반 선택적 매개변수 임의의 개수를 받아 key/value 순차적으로 모두 출력
#몇개의 선택적 매개변수를 받았는지 출력

def checkout(name, price, temp_data, **kwargs):
  print(name)
  print(price)
  print(temp_data)
  print('='*30)
  for key, value in kwargs.items():
      print(f'key: {key} / value : {value}')
  print(f'{len(kwargs)}개의 선택적 키워드 매개변수를 받았습니다.')
  print('kwargs.items() : ', kwargs.items())

checkout(name = '안성경',
         price = 12000,
         temp_data = '추가데이터',
         additional_data = 10.0,
         options = ['아토1', '아토2', '아토3'],
         data = '1995,01,12')


#3개의 선택적 키워드 매개변수를 받았습니다.

안성경
12000
추가데이터
==============================
key: additional_data / value : 10.0
key: options / value : ['아토1', '아토2', '아토3']
key: data / value : 1995,01,12
3개의 선택적 키워드 매개변수를 받았습니다.
kwargs.items() :  dict_items([('additional_data', 10.0), ('options', ['아토1', '아토2', '아토3']), ('data', '1995,01,12')])

In [48]:
#위치기반 + 키워드 기반
#모두 출력

#에러가 날것임

def checkout(name, price, temp_data,
             kwarg_input_1,
             kwarg_input_2,
             kwarg_input_3,
             *args,
             **kwargs):
  print(name)
  print(price)
  print(temp_data)
  print(kwarg_input_1)
  print(kwarg_input_2)
  print(kwarg_input_3)

  for arg in args:
    print(arg)
  for key, value in kwargs.items():
    print(f'key : {key} / value : {value}')

  
checkout('안성경',
         12000,
         '임시 데이터',
         kwarg_input_1 = '키워드기반 매개변수1',
         kwarg_input_2 = '키워드기반 매개변수2',
         kwarg_input_3 = '키워드기반 매개변수3',
         additional_data = '추가 데이터',
         temporary_data = 10.0,
         options = ['아토1', '아토2', '아토3'],
         data = '1995/01/12')

안성경
12000
임시 데이터
키워드기반 매개변수1
키워드기반 매개변수2
키워드기반 매개변수3
key : additional_data / value : 추가 데이터
key : temporary_data / value : 10.0
key : options / value : ['아토1', '아토2', '아토3']
key : data / value : 1995/01/12

In [53]:
#위치기반 + 키워드 기반
#모두 출력

#에러가 날것임

def checkout(name, price, temp_data,
             kwarg_input_1,
             kwarg_input_2,
             kwarg_input_3,
             *args,
             **kwargs):
  print(name)
  print(price)
  print(temp_data)
  print(kwarg_input_1)
  print(kwarg_input_2)
  print(kwarg_input_3)

  for arg in args:
    print(arg)
  for key, value in kwargs.item():
    print(f'key : {key} / value : {value}')

  
checkout('안성경',
         12000,
         '임시 데이터',
         '위치기반 선택적 매개변수1',
         '위치기반 선택적 매개변수2',
         '위치기반 선택적 매개변수3',
         kwarg_input_1 = '키워드기반 매개변수1',
         kwarg_input_2 = '키워드기반 매개변수2',
         kwarg_input_3 = '키워드기반 매개변수3',
         additional_data = '추가 데이터',
         temporary_data = 10.0,
         options = ['아토1', '아토2', '아토3'],
         data = '1995/01/12')

TypeError: ignored

In [55]:
def checkout(*args, **kwargs):
  for arg in args:
    print(arg)
  for key, value in kwargs.items():
    print(f'key: {key} / value: {value}')


checkout('안성경',
         12000,
         '임시 데이터',
         kwarg_input_1 = '키워드기반 매개변수1',
         kwarg_input_2 = '키워드기반 매개변수2',
         kwarg_input_3 = '키워드기반 매개변수3',
         additional_data = '추가 데이터',
         temporary_data = 10.0,
         options = ['아토1', '아토2', '아토3'],
         data = '1995/01/12')

안성경
12000
임시 데이터
key: kwarg_input_1 / value: 키워드기반 매개변수1
key: kwarg_input_2 / value: 키워드기반 매개변수2
key: kwarg_input_3 / value: 키워드기반 매개변수3
key: additional_data / value: 추가 데이터
key: temporary_data / value: 10.0
key: options / value: ['아토1', '아토2', '아토3']
key: data / value: 1995/01/12